
/* favourites */

.content__favourites {
    padding-top: 48px;
    position: relative;
}

.content__favourites-message {
    padding: 28px 380px 28px 20px;
    font-size: 12px;
    line-height: 16px;
    color: #83858B;
}

.content__favourites.m-column-slider .content__favourites-message {
    padding-left: 6px;
}

.content__favourites-buttons {
    position: absolute;
    top: 65px;
    right: 0;
}

.content__favourites-save {
    vertical-align: top;
}

.content__favourites-order {
    vertical-align: top;
    margin-left: 16px;
}

.content__favourites-header {
    font-size: 20px;
    font-weight: normal;
    line-height: 24px;
    color: #45484d;
    margin: 0 0 12px 20px;
}

.content__favourites-categories {
    text-align: justify;
}

.content__favourites-category {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 18%;
    min-width: 225px;
    margin-left: 1%;
    text-align: left;
    font-size: 11px;
    line-height: 13px;
}

.content__favourites-category:first-child {
    margin-left: 0;
}

.content__favourites-category-align-justify {
    display: inline-block;
    width: 50%;
    height: 1px;
}

.content__favourites-item {
    padding-left: 20px;
    margin-bottom: 12px;
    cursor: pointer;
}

.content__favourites-icon {
    display: block;
    float: left;
    width: 13px;
    height: 12px;
    margin-left: -20px;
    background: url('/img/hearts.png') no-repeat 0 -100px;
    position: relative;
    bottom: -1px;
}

.content__favourites-item.m-selected .content__favourites-icon {
    background-position: 0 -150px;
}

.content__favourites-category-blank {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.content__favourites.m-column-slider .content__favourites-category.m-small {
    font-size: 5px;
    line-height: 6px;
    cursor: pointer;
    width: 7%;
    min-width: 90px;
    overflow: hidden;
}

.content__favourites.m-column-slider .content__favourites-category.m-small .content__favourites-category-blank {
    display: block;
}

.content__favourites.m-column-slider .content__favourites-category.m-small .content__favourites-header {
    display: inline-block;
    margin: 15px 0 6px 6px;
    color: #288ebe;
    font-size: 12px;
    line-height: 14px;
    border-bottom: 1px dotted #288ebe;
}

.content__favourites.m-column-slider .content__favourites-category.m-small .content__favourites-item {
    margin-bottom: 4px;
    padding-left: 6px;
}

.content__favourites.m-column-slider .content__favourites-category.m-small .content__favourites-icon {
    margin-left: -6px;
    width: 4px;
    height: 4px;
    background: none;
}

.content__favourites.m-column-slider .content__favourites-category.m-small .content__favourites-item.m-selected .content__favourites-icon {
    background: url('/img/hearts.png') no-repeat 0 -200px;
}

/* / favourites */







/* header */

.header__favourites {
    display: inline-block;
}

.header__favourites-icon {
    display: block;
    float: left;
    position: relative;
    left: -8px;
    height: 22px;
    width: 23px;
    margin-left: -23px;
    background: url('/img/hearts.png') no-repeat 0 0;
}

.header__favourites:hover {
    position: relative;
    top: -6px;
    right: -7px;
    padding: 3px 4px 4px 18px;
    border: 2px solid #FF6000;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}

.header__favourites:hover .header__favourites-icon {
    background-position: 0 -50px;
}

.header__favourites:hover .header__favourites-title {
    color: #FF6000;
    font-weight: bold;
    margin-right: 5px;
    border: 0;
    cursor: default;
}

.header__favourites-menu {
    display: none;
}

.header__favourites:hover .header__favourites-menu {
    display: inline-block;
}

.header__favourites-edit {
    margin-right: 5px;
}

.header__favourites-select {
    position: relative;
    line-height: 18px;
    height: 18px;
    font-size: 11px;
    padding-right: 23px;
    padding-left: 8px;
}

.header__favourites-select:active {
    padding-right: 24px;
    padding-left: 9px;
}

.header__favourites-help-icon {
    display: block;
    position: absolute;
    right: 11px;
    top: 8px;
    width: 10px;
    height: 10px;
    line-height: 10px;
    text-align: center;
    text-indent: -1px;
    color: #B8B8B8;
    font-size: 9px;
    font-style: normal;
    border: 1px solid #CACACA;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
}

.header__favourites-help:hover .header__favourites-help-icon {
    color: #808080;
    border-color: #969696;
}

.header__favourites-help {
    position: absolute;
    right: 0;
    top: 0;
}

.header__favourites-help-popup {
    display: none;
    position: absolute;
    top: 34px;
    right: -106px;
    z-index: 1;
    width: 225px;
    padding: 8px 10px;
    background: #FDF9EC;
    color: #444;
    font-size: 11px;
    line-height: 14px;
    border: 1px solid #BCBCBC;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}

.header__favourites-help-popup-corner {
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -11px;
    width: 23px;
    height: 20px;
    background: url('/img/corner.png') no-repeat 50% 100%;
}

.header__favourites-help-popup-p {
    margin-bottom: 11px;
    white-space: normal;
}

.header__favourites-help-popup-p:last-child {
    margin-bottom: 0;
}

.header__favourites-help:hover .header__favourites-help-popup {
    display: block;
}

.m-favourites .header__favourites-title {
    border-bottom: 0;
    color: #3F464D;
}

.m-favourites .header__favourites:hover .header__favourites-title {
    font-weight: normal;
    color: #3F464D;
    margin: 0;
    cursor: text;
}

.m-favourites .header__favourites-icon {
    background-position: 0 -50px;
}

.m-favourites .header__bottom {
    display: none;
}

.m-favourites .header__favourites:hover {
    top: 0;
    left: 0;
    padding: 0;
    border: 0;
}

.m-favourites .header__favourites:hover .header__favourites-menu {
    display: none;
}

.m-favourites .content__wrapper {
    padding-top: 45px;
}

/* / header */
