<template name="OmNomMom">
<!--

  ______   .___  ___.    .__   __.   ______   .___  ___.    .__   __.   ______   .___  ___.
 /  __  \  |   \/   |    |  \ |  |  /  __  \  |   \/   |    |  \ |  |  /  __  \  |   \/   |
|  |  |  | |  \  /  |    |   \|  | |  |  |  | |  \  /  |    |   \|  | |  |  |  | |  \  /  |
|  |  |  | |  |\/|  |    |  . `  | |  |  |  | |  |\/|  |    |  . `  | |  |  |  | |  |\/|  |
|  `--'  | |  |  |  |    |  |\   | |  `--'  | |  |  |  |    |  |\   | |  `--'  | |  |  |  |
 \______/  |__|  |__|    |__| \__|  \______/  |__|  |__|    |__| \__|  \______/  |__|  |__| 

-->
</template>