<template name="order">
    {{#each days }}
        {{#if dishes }}
            <div class="content__menu-group" data-date="{{ date }}">
                <h1 class="content__menu-header">{{ day }}<span class="content__order-day-price">/ {{ price }}р.</span></h1>
                <ul class="content__menu-list">
                    {{# each dishes }}
                        {{> menuItem }}
                    {{/each}}
                </ul>
            </div>
        {{else}}
            <div class="content__menu-group" data-date="{{ date }}">
                <h1 class="content__menu-header">{{ day }}</h1>
                <div class="content__menu-list">
                    <span class="{{ className }}">{{ message }}</span>
                </div>
            </div>
        {{/if }}
    {{/each}}
</template>
